@import "tailwindcss";
@import "tailwindcss-animated";

body {
  background-color: #141414;
}

@theme {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

@utility texto-semibold {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

@utility texto-bold {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

@utility texto-light {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 300;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
}
